@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin display1-bold {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin display1-semibold {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin display1-medium {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin display1-regular {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin display2-bold {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin display2-semibold {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin display2-medium {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin display2-regular {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin title1-bold {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin title1-semibold {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin title1-medium {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin title1-regular {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin title2-bold {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin title2-semibold {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin title2-medium {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin title2-regular {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin headline1-bold {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin headline1-semibold {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin headline1-medium {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin headline1-regular {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin headline2-bold {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin headline2-semibold {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin headline2-medium {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin headline2-regular {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin body-bold {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin body-semibold {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin body-medium {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin body-regular {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin label-bold {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin label-semibold {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin label-medium {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin label-regular {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin caption-bold {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin caption-semibold {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
}

@mixin caption-medium {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
}

@mixin caption-regular {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}
