@use '/src/style/color/semantic.scss' as *;
@use '/src/style/typography/typography.scss' as *;
@use '/src/style/flex/flex.scss' as *;

.about-me-wrap {
  @include flex-column;
  width: 100%;
  height: 80%;

  gap: 20px;
}

.top {
  @include flex-column-center;
  width: 100%;
  height: 60%;
}

.one-line {
  @include display0-black;
  color: var(--Primary);
}

.typing {
  font-family: inherit;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.dev-gradiant {
  @include display0-black;
  width: fit-content;
  height: fit-content;

  background: linear-gradient(90deg, var(--Secondary) 0%, var(--Primary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me-bottom {
  @include flex-column-center;

  width: 100%;

  span {
    @include title2-thin;
    color: var(--Primary);
  }

  button {
    @include flex-row-center;
    @include headline2-semibold;
    width: 10%;
    height: 60px;

    border-radius: 30px;
    background: var(--Primary);

    margin-top: 20px;

    color: var(--Static-White);
    border: none;

    cursor: pointer;
  }
}
